{% extends "layouts/base.html" %}
{% load i18n static %}

{% block title %} Dashboard {% endblock title %}

{% block overlay %}
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
{% endblock overlay %}
{% block content %}
<div class='content-container'>
<div class='header-container'>
  <p class='heading'>Dashbord</p>
  <div>
    <form method="POST" action="/dashboard" >
      {% csrf_token %}
      <input class='date'type="date" name="datetime">
      <select name='shift' class='input-time'>
        <option>Morning </option>
        <option>Afternoon</option>
        <option>Evening</option>
      </select>
      <a href='reset'><button class='filter-btn'><i class="bi bi-arrow-clockwise"></i></button></a>
      <button class='filter-btn' type="submit"><i class="bi bi-filter"></i></button>
    </form>
  </div>
</div>
<div class='score-card-conatiner' style='margin-bottom: 10px;'>
   <div class='top-score-card'>
    <div class='card-icon'>
    <i class="bi bi-sort-up bar"></i>
    </div>
    <div class='score-para'>
    <h1 class='heading-score'>{{topscore.top}}</h1>
       <p class='para-score'>Best Score</p>
    </div>
    </div>
    <div class='top-score-card'>
      <div class='card-icon-two'>
        <i class="bi bi-sort-down bar"></i>
      </div>
      <div class='score-para'>
        <h1 class='heading-score'>{{topscore.low}}</h1>
        <p class='para-score'>Low Score</p>
      </div>
       </div>
       <div class='top-score-card'>
        <div class='card-icon-four'>
        <i class="bi bi-bullseye bar"></i>
        </div>
        <div class='score-para'>
        <h1 class='heading-score'>{{topscore.total_estimated}}</h1>
           <p class='para-score'>Total Estimated</p>
        </div>
        </div>
        <div class='top-score-card'>
          <div class='card-icon-five'>
          <i class="bi bi-bar-chart-steps bar"></i>
          </div>
          <div class='score-para'>
          <h1 class='heading-score'>{{topscore.total_achived}}</h1>
             <p class='para-score'>Total Achieved</p>
          </div>
          </div>
</div>
<div>
  <h1 class='heading'>Rank Details</h1>
  <table class='table table-bordered border-primary' id="datatable">
      <thead>
          <tr class="table-active">
              <th>S.No</th>
              <th>Estimated Target</th>
              <th>Achieved Target</th>
              <th>Score</th>
              <th>Bonus</th>
              <th>Date</th>
              <th>Time</th>
              <th>Edit</th>
              <th>Delete</th>
             
          </tr>
      </thead>
      <tbody>
          {% for data_obj in topscore.allData %}
          <tr>
              <td class="table-active">{{forloop.counter}}</td>
              <td>{{ data_obj.Estimated_target }}</td>
              <td>{{ data_obj.Achieved_target }}</td>
              <td>{{ data_obj.Score }}</td>
              <td>{{ data_obj.Bonus }}</td>
              <td>{{ data_obj.Datetime }}</td>
              <td>{{ data_obj.Time }}</td>
              <td><a href='updateData/{{data_obj.id}}'><button class="btn btn-success"><i class="bi bi-pen"></i> Edit</button></a></td>
              <td><a href='deleteData/{{data_obj.id}}'><button class='btn btn-danger'><i class="bi bi-trash"></i> Delete</button></a></td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
</div>
<div id="chart" class='chart'></div>
<script>

var options = {
  series: [{
  name: 'Score',
  type: 'column',
  data: {{topscore.score_chart|safe }}
}, {
  name: 'Achieved Target',
  type: 'line',
  data: {{topscore.achived_chart|safe }}
}],
  chart: {
  height: 350,
  type: 'line',
},
stroke: {
  width: [0, 4]
},
title: {
  text: 'Production'
},
dataLabels: {
  enabled: true,
  enabledOnSeries: [1]
},
labels: {{ topscore.date_cahrt|safe }},
xaxis: {
  type: 'datetime'
},
yaxis: [{
  title: {
    text: 'Score',
  },

}, {
  opposite: true,
  title: {
    text: 'Achieved Score'
  }
}]
};
var chart = new ApexCharts(document.querySelector("#chart"), options);
chart.render();
</script>
</div>
</div>
<script>
$(document).ready(function() {
  $('#datatable').DataTable();
});
</script> 
{% endblock content %}

