{% extends "layouts/base.html" %}
{% load i18n static %}

{% block title %} home {% endblock title %}

{% block overlay %}
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
{% endblock overlay %}
{% block content %}
<div class='content-container'>
    <div class='header-container'>
        <p class='heading'>Send Mail</p>
      </div>
  
      <div class='upload-container'>
          <form class='temp-form' action='' method="POST" >
              {% csrf_token %}
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" id="title" class="form-control" placeholder="Title" name='title'>
                </div>
                <div class="mb-3">
                  <label for="mail" class="form-label">Mail Id</label>
                  <input type="text" id="mail" class="form-control" placeholder="Mail Id" name='mail'>
                </div>
              <button type="submit" class="btn btn-primary">Send</button>
            </form>
      </div>
  </div>



{% endblock content %}