{% extends "layouts/base.html" %}
{% load i18n static %}

{% block title %} home {% endblock title %}

{% block overlay %}
  <div class="min-height-300 bg-primary position-absolute w-100"></div>
{% endblock overlay %}
{% block content %}
<div class='content-container'>
    <div class='header-container'>
        <p class='heading'>Report</p>
          <div>
              <form method="POST" action="report" >
                {% csrf_token %}
                <select name='report_shift' class='input-time'>
                  <option>Morning </option>
                  <option>Afternoon</option>
                  <option>Evening</option>
                </select>
                <select name='camera' class='input-time'>
                  <option>Camera One</option>
                  <option>Camera Two</option>
                </select>
                <button class='filter-btn' type="submit"><i class="bi bi-filter"></i></button>
              </form>
            </div>
        </div>
        <table class='table table-bordered border-primary' id="datatable">
          <thead>
              <tr class="table-active">
                  <th class='test'>S.No</th>
                  <th class='test'>Camera</th>
                  <th class='test'>Shift</th>
                  <th class='test'>Start Time</th>
                  <th class='test'>Cycle No</th>
                  <th class='test'>Process Name</th>
                  <th class='test'>process Limit</th>
                  <th class='test'>Mail Flag</th>
                  <th class='test'>Extended</th>
                  <th class='test'>Hour</th>
                  <th class='test'>Read</th>
              </tr>
          </thead>
          <tbody>
              {% for data_obj in report_data%}
              <tr>
                  <td class="table-active">{{forloop.counter}}</td>
                  <td>{{ data_obj.furnace_name }}</td>
                  <td>{{ data_obj.shift }}</td>
                  <td>{{ data_obj.started_at }}</td>
                  <td>{{ data_obj.cycle_number }}</td>
                  <td>{{ data_obj.process_name }}</td>
                  <td>{{ data_obj.process_limit }}</td>
                  <td>{{ data_obj.mailflag }}</td>
                  <td>{{ data_obj.exceeded }}</td>
                  <td>{{ data_obj.hour }}</td>
                  <td>{{ data_obj.read }}</td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
  </div>
  </div>
  <script> 
    $(document).ready(function() {
      $('#datatable').DataTable();
    });
    </script> 

{% endblock content %}