*{
  box-sizing: border-box;
}
body{
  margin: 0px;
}

.main-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 85vh;
  width: 100vw;
  background-color: #ffffff;
}
.sub-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 20px;
  align-items: center;
}
.input{
  width: 200px;
  margin: 10px;
  height: 30px;
}
.btn{
  cursor: pointer;
  outline: none;
  background-color: red;
  color: white;
  border-radius: 7px;
  width: 100px;
  padding: 10px;
  outline: none;
  border-width: 0px;

}
.btn:hover{
  background-color: green;
}
.result-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: solid red 1px;
  height: 300px;
  border-radius: 7px;
  overflow-y: auto;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.temp{
  color: blue;
  background-color: antiquewhite;
  padding: 10px;
  color: black;
  border-radius: 7px;
}
.leble{
  color: black;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-left: 10px;
}
.heding{
  color: black;
  margin-top: 0px;
}
.table{
  background-color: #211c49;
  color: #0092ff;
  
}
.each-table{
  margin: 10px;
}
.result-para{
  color: black;
  
}
.edit-btn{
  background-color: green;
  color: white;
  outline: none;
  cursor: pointer;
  padding: 6px;
  border-width: 0px;
  border-radius: 7px;
}
.delete-btn{
  background-color: red;
  color: white;
  outline: none;
  cursor: pointer;
  padding: 6px;
  border-width: 0px;
  border-radius: 7px;
}

.nav-container{
  background-color: antiquewhite;
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  box-shadow: 0px 20px black;
}
.logo{
  height: 80px;
  height: 80px;
  cursor: pointer;
}
.app-name{
  color: #15aed5;
  font-weight: bold;
}
.half{
  color: #76dc00;
  font-style: italic;
}
.side-bar{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 15vw;
  min-height: 85vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color:  #211c49;
}

.dashbord-containetr{
  background-color: transparent;
  opacity: 1.5;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  color: #0092ff;
  overflow-y: auto;
  align-self: right;
  text-decoration: none;

}
.dashbord{
  text-decoration: none;
  color: #2d3cf2;
}
.dashbord-containetr:hover{
  background-color: #8b5cf6;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  cursor: pointer;
}

.main-container-dashboard{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #ffffff  
}
.card-container{
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  margin: 10px;
}

.top-score-card{
  background-color: #00ced1;
  height: 150px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px  black;
  color: green;
}
.low-score-card{
  background-color: #fa8072;
  height: 150px;
  width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px black;
  color: red;
}

.date-card-conatiner{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin: 10px;
}
.label-dashbord{
  color: black;
  font-size: 20px;
}
.date{
  width: 100px;
  height: 40px;
  outline: none;
  border: solid 2px #0a0a0a;  
  background-color: #1ccbf7;
  border-radius: 8px;
  color: white;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}
.filter-btn{
  background-color: red;
  color: white;
  outline: none;
  cursor: pointer;
  padding: 10px;
  border-width: 0px;
  border-radius: 7px;
  height: 40px;
  width: 90px;

}
.filter-btn:hover{
  background-color: green;
}
.dashbord-containetr-over{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 85vh;
  width: 85vw;
  background-color: #ffffff;
  overflow-y: auto;
}
.chart{
  width: 600px;
  height: 400px;
}
.input-time{
  width: 100px;
  height: 40px;
  outline: none;
  border: solid 2px #1ccbf7;  
  background-color: #0a0a0a;
  border-radius: 8px;
  color: white;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}

.filter-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.sub{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.register{
  margin-top: 10px;
}