{% extends 'base.html' %} {% block content %}
{% load static %}
      <p class='heading'>Profile</p>
        <div class='profile-container'>
        <img src='https://res.cloudinary.com/duv0mhzrm/image/upload/v1665994997/Avatar_hzuzbt.png' class='avatar'/>
        <hr class="hr-line" /> 
        <p class='username'>username-: {{ user.username }}</p>
        <p class='username'>super user-: {{ user.is_superuser }}</p>
        <a href="{% url 'logout' %}"><button class='btn btn-danger'>Logout</button></a>
        {% if user.is_superuser == True %}
        <a href="admin" style='margin-top: 10px;'>Open Admin <i class="bi bi-arrow-right"></i></a>
    {% endif %}
        </div> 
{% endblock %}