<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href={%static 'bootstrap/css/bootstrap.min.css'%}/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.4/css/jquery.dataTables.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <script src="{% static 'apexcharts.esm.js' %}"></script>
    <script src="{% static 'apexcharts.js' %}"></script>
    <script src="{% static 'apexcharts.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'apexcharts.css' %}">
    <script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
    <title>Base Page</title>
  </head>
  <body>
    <div class='deshbord-container'>
      <nav class='nav-container'>
        <div class='sub'>
        <a href='home'><img src={% static 'image/temp.png' %} alt="logo" class='logo'/></a>
        </div>
          <div class='sub'>
           <img src='https://img.freepik.com/free-vector/illustration-india-flag_53876-27130.jpg?w=1060&t=st=1677054441~exp=1677055041~hmac=f363849d6ab8de7227e298987c848f82b7f4db181dc083d6051568dc75ed1cdb' class='flag'/>
           <a href='account'><img src='https://res.cloudinary.com/duv0mhzrm/image/upload/v1665994997/Avatar_hzuzbt.png' class='avatar'/></a>
            <p class='name'>Hello! {{ user.username }}</p>
       
        </div>
      </nav>
      <div class='dashboard-sub-container'>
        <nav class='side-bar'>
          <a href='home'><i class="bi bi-house bar"></i></a>
          <a href='dashboard'><i class="bi bi-display bar"></i></a>
          <a href='cycle'> <i class="bi bi-bicycle bar"></i></a>
          <a href='report'> <i class="bi bi-file-earmark-bar-graph bar"></i></a>
          <a href='upload'><i class="bi bi-cloud-upload bar"></i></a>
          <a href='submited'><i class="bi bi-file-earmark-check bar"></i></a>
          <a href='livecam'><i class="bi bi-camera bar"></i></a>
          <a href='mail'><i class="bi bi-envelope bar"></i></a>
      </nav>
      <div class='content-container'>

    {% block content %} {% endblock %}
  </div>
</body>
  </body>
</html>
