{% extends 'base.html' %} {% block content %}
{% load static %}
<div class='deshbord-container'>
    <nav class='nav-container'>
      <div class='sub'>
      <a href='home'><img src={% static 'image/—Pngtree—product analysis_2849807.png' %} alt="logo" class='logo'/></a>
      <h1><span class='app-name'>Production</span> <span class='half'>Analyser</span></h1>
      </div>
        <div class='sub'>
      <a href="{% url 'logout' %}"><button class='btn'>Logout</button></a>
      </div>
    </nav>
    <div class='dashboard-sub-container'>
      <nav class='side-bar'>
        <a href='home'><i class="fa-solid fa-house bar"></i></a>
        <a href='dashboard'><i class="fa-solid fa-desktop bar"></i></a>
        <a href='cycle'> <i class="fa-solid fa-bicycle bar"></i></a>
        <a href='report'> <i class="fa-solid fa-file bar"></i></a>
        <a href='upload'><i class="fas fa-upload bar"></i></a>
        <a href='submited'><i class="fas fa-file-import bar"></i></a>
    </nav>
    <div class='content-container'>
        <h1>Cycle Analitics</h1>
         <div class='score-card-conatiner'>
          <div class='top-score-card'>
           <div class='card-icon'>
            <i class="fas fa-hourglass-half bar"></i>
           </div>
           <div class='score-para'>
           <h1 class='heading-score'>{{cycle_data.duration}}</h1>
              <p class='para-score'>Average Duration</p>
           </div>
           </div>
           <div class='top-score-card'>
             <div class='card-icon-two'>
              <i class="fa-solid fa-bicycle bar"></i>
             </div>
             <div class='score-para'>
               <h1 class='heading-score'>{{cycle_data.count}}</h1>
               <p class='para-score'>Total Cycle</p>
             </div>
              </div>
       </div>
         
          <div id="chart" class='chart' style='width:100%;'></div>
          
          
          <script>
          const chartSeries = {{ cycle_data.chart_one|safe }};
    
          const options = {
            chart: {
              type: 'line',
            },
            series: [chartSeries],
            xaxis: {
              type: 'number',
            },
            yaxis: {
              min: 0,
            },
          };
    
          const chart = new ApexCharts(document.querySelector('#chart'), options);
          chart.render();
        </script>
       
    </div>
</div>
{% endblock %}


{% comment %} taht can be an progress to  {% endcomment %}