{% extends 'base.html' %} {% block content %}
{% load static %}
<div class='deshbord-container'>
  <nav class='nav-container'>
    <div class='sub'>
    <a href='home'><img src={% static 'image/—Pngtree—product analysis_2849807.png' %} alt="logo" class='logo'/></a>
    <h1><span class='app-name'>Production</span> <span class='half'>Analyser</span></h1>
    </div>
      <div class='sub'>
    <a href="{% url 'logout' %}"><button class='btn'>Logout</button></a>
    </div>
  </nav>
  <div class='dashboard-sub-container'>
    <nav class='side-bar'>
      <a href='home'><i class="fa-solid fa-house bar"></i></a>
      <a href='dashboard'><i class="fa-solid fa-desktop bar"></i></a>
      <a href='cycle'> <i class="fa-solid fa-bicycle bar"></i></a>
      <a href='report'> <i class="fa-solid fa-file bar"></i></a>
  </nav>
  <div class='content-container'>
    <div class='header-container'>
      <h1>Dashbord</h1>
      <div>
        <form method="POST" action="/dashboard" >
          {% csrf_token %}
          <input class='date' type="date" name="datetime">
          <select name='shift' class='input-time'>
            <option>6 AM to 12 PM</option>
            <option>1PM to 6 PM</option>
          </select>
          <button class='filter-btn' type="submit"><i class="fa-solid fa-filter"></i></button>
        </form>
      </div>
    </div>
    <div class='score-card-conatiner'>
       <div class='top-score-card'>
            <h1>Best Score</h1>
            <p>{{topscore.top}}</p>
        </div>
        <div class='low-score-card'>
            <h1>Low Score</h1>
            <p> {{topscore.low}}</p>
           </div>
    </div>
    <div  class="result-container-desktop">
      <h1 class='heding'>Rank Details</h1>
      <table class='table' id="datatable">
          <thead>
              <tr>
                  <th>S.No</th>
                  <th>Estimated Target</th>
                  <th>Achieved Target</th>
                  <th>Score</th>
                  <th>Bonus</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Edit</th>
                  <th>Delete</th>
                 
              </tr>
          </thead>
          <tbody>
              {% for data_obj in topscore.allData %}
              <tr>
                  <td>{{forloop.counter}}</td>
                  <td>{{ data_obj.Estimated_target }}</td>
                  <td>{{ data_obj.Achieved_target }}</td>
                  <td>{{ data_obj.Score }}</td>
                  <td>{{ data_obj.Bonus }}</td>
                  <td>{{ data_obj.Datetime }}</td>
                  <td>{{ data_obj.Time }}</td>
                  <td><a href='updateData/{{data_obj.id}}'><button class='edit-btn'>Edit</button></a></td>
                  <td><a href='deleteData/{{data_obj.id}}'><button class='delete-btn'>Delete</button></a></td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
    <div id="chart" class='chart'></div>
        <script>
          const chartSeries = {{ topscore.chart_series|safe }};
    
          const options = {
            chart: {
              type: 'bar',
            },
            series: [chartSeries],
            xaxis: {
              type: 'date',
            },
            yaxis: {
              min: 0,
            },
          };
    
          const chart = new ApexCharts(document.querySelector('#chart'), options);
          chart.render();
        </script>
  </div>
  </div>
</div>
<script>
  $(document).ready(function() {
      $('#datatable').DataTable();
  });
  </script> 
   {% endblock %}