{% extends 'base.html' %} {% block content %}
{% load static %}
  
        <div class='header-container'>
          <p class='heading'>Edit Files</p>
        </div>
        <div class='upload-container'>
        <form class='form-container' action='' method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="model_name">File Name</label>
            <input class='form-control' name='model_name' type='text' value={{versions.model_name}}/>
            <label for="weights_file">Weights File</label>
            <input class='form-control' name='file_one' type='file' value= {{versions.file_one}}/>
            <label for="config_file">Config File</label>
           <input class='form-control' type='file' name='file_two' value=  {{versions.file_two}}/>
            <label for="xml_file">XML File</label>
            <input class='form-control' type='file' name='file_last' value=  {{versions.file_last}}/>
            <button class='btn' type="submit">Re Upload</button>
          </form>
        </div>
  {% endblock %}