{% extends 'base.html' %} {% block content %}
{% load static %}
<p class='heading'>Home</p>
  <div class='content-container-home'>
    <form class="sub-container" action='' method="POST" autocomplete="off">
      {% csrf_token %}
      <lable class="leble">Estimated target</lable>
      <input class="input" name="one" placeholder="Estimated target"   type="number" />
      <lable class="leble">Achieved target</lable>
      <input class="input" name="two" placeholder="Achieved target"  type="number" />
      <button class='btn' type="submit">click</button>
    </form>
    <div  class="result-container">
      <h1 class='heding'>View Details</h1>
      <table class='table' id="datatable">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Estimated Target</th>
                <th>Achieved Target</th>
                <th>Score</th>
                <th>Bonus</th>
                <th>Date</th>
                <th>Time</th>
                <th>Edit</th>
                <th>Delete</th>
               
            </tr>
        </thead>
        <tbody>
            {% for data_obj in datas %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{ data_obj.Estimated_target }}</td>
                <td>{{ data_obj.Achieved_target }}</td>
                <td>{{ data_obj.Score }}</td>
                <td>{{ data_obj.Bonus }}</td>
                <td>{{ data_obj.Datetime }}</td>
                <td>{{ data_obj.Time }}</td>
                <td><a href='updateData/{{data_obj.id}}'><button class='edit-btn'>Edit</button></a></td>
                <td><a href='deleteData/{{data_obj.id}}'><button class='delete-btn'>Delete</button></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
  </div>

<script>
  $(document).ready(function() {
      $('#datatable').DataTable();
  });
  </script>
   
  {% endblock %}
  