<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>Home Page</title>
  </head>
  <body>
    <div>
      <nav class='nav-container'>
        <img src={% static 'image/—Pngtree—product analysis_2849807.png' %} alt="logo" class='logo'/>
        <h1><span class='app-name'>Production</span> <span class='half'>Analyser</span></h1>
      </nav>
    <div class="main-container">
      {% block content%}
      <form class="sub-container" action='' method="POST" autocomplete="off">
        {% csrf_token %}
        <lable class="leble">Estimated target</lable>
        <input class="input" name="one" placeholder="Estimated target"   type="number" />
        <lable class="leble">Achieved target</lable>
        <input class="input" name="two" placeholder="Achieved target"  type="number" />
        <button class='btn' type="submit">click</button>
      </form>
      <div  class="result-container">
        <h1 class='heding'>View Details</h1>
        <table>
         <thead>
          <tr class='table'>
            <th class='each-table'>S.No</th>
            <th class='each-table'>Estimated target</th>
            <th class='each-table'>Achieved target</th>
            <th class='each-table'>Score</th>
            <th class='each-table'>Bonus</th>
            <th class='each-table'>Date</th>
            <th class='each-table'>Time</th>
            <th class='each-table'>Edit</th>
            <th class='each-table'>Delete</th>
           
          </tr>
        </thead>
        {% for data in datas%}
          <tbody class='result-para'>
            <td>{{forloop.counter}}</td>
            <td>{{data.Estimated_target}}</td>
            <td>{{data.Achieved_target}}</td>
            <td>{{data.Score}}</td>
            <td>{{data.Bonus}}</td>
            <td>{{data.Datetime}}</td>
            <td>{{data.Time}}</td>
            <td><a href='updateData/{{data.id}}'><button class='edit-btn'>Edit</button></a></td>
            <td><a href='deleteData/{{data.id}}'><button class='delete-btn'>Delete</button></a></td>
            
          </tbody>
          {% endfor%} 
        </table>
      </div>
    </div>
  </div>
    {% endblock %}

  </body>
</html>
