{% extends 'base.html' %} {% block content %}
{% load static %}

    <div class='header-container'>
      <p class='heading'>Send Mail</p>
    </div>

    <div class='upload-container'>
        <form class='temp-form' action='' method="POST" >
            {% csrf_token %}
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title" class="form-control" placeholder="Title" name='title'>
              </div>
              <div class="mb-3">
                <label for="mail" class="form-label">Mail Id</label>
                <input type="text" id="mail" class="form-control" placeholder="Mail Id" name='mail'>
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>

{% endblock %}

{% comment %} that can be an process to determain and progress to devops {% endcomment %}