{% extends 'base.html' %} {% block content %}
{% load static %}

    
    <form class="sub-container" action="/updateData/{{datas.id}}" method="POST" autocomplete="off">
      {% csrf_token %}
      <lable class="form-label">Estimated target</lable>
      <input class="form-control" name="Estimated"  placeholder="Estimated target" value={{datas.Estimated_target}}  type="number" />
      <lable class="form-label">Achieved target</lable>
      <input class="form-control" name="Achieved" placeholder="Achieved target" value={{datas.Achieved_target}}  type="number" />
      <button class='btn btn-success' type="submit">Update</button>
    </form>
 

  {% endblock %}