<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <title>result</title>
  </head>
  <body>
    <div>
      <nav class='nav-container'>
        <div class='sub'>
          <a href='home'><img src={% static 'image/—Pngtree—product analysis_2849807.png' %} alt="logo" class='logo'/></a>
        <h1><span class='app-name'>Production</span> <span class='half'>Analyser</span></h1>
        </div>
          <div class='sub'>
        <a href="{% url 'logout' %}"><button class='btn'>Logout</button></a>
        </div>
      </nav>
    <div class="main-container">
      <div class='dashbord-containetr-over'>
        <div class='date-card-conatiner'>
      <form class="sub-container" action="/updateData/{{datas.id}}" method="POST" autocomplete="off">
        {% csrf_token %}
        <lable class="leble">Estimated target</lable>
        <input class="input" name="Estimated"  placeholder="Estimated target" value={{datas.Estimated_target}}  type="number" />
        <lable class="leble">Achieved target</lable>
        <input class="input" name="Achieved" placeholder="Achieved target" value={{datas.Achieved_target}}  type="number" />
        <button class='btn' type="submit">Update</button>
      </form>
    </div>
  </div>
    </div>
  </div>
  </body>
</html>
