{% extends 'base.html' %} {% block content %}
{% load static %}

    <div class='header-container'>
        <p class='heading'>Upload Files</p>
    </div>
    <div class='upload-container'>
    <form class='form-container' action='' method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="model_name">File Name</label>
        {{form.file_name}}
        <label for="weights_file">Weights File</label>
        {{form.file_one}}
        <label for="config_file">Config File</label>
        {{form.file_two}}
        <label for="xml_file">XML File</label>
        {{form.file_last}}
        <button class='btn' type="submit">Upload</button>
      </form>
    </div>

{% endblock %}